*,*::before,*::after{
    box-sizing: border-box;
}
body{

    margin: 0 ;
    padding: 0;
    font-family: "Montserrat";
}
.nav-header{
    background-color: rgb(3, 36, 2);
}
.container{
    width: 90%;
    margin: 0 auto;
}

.row1{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: space-between;
}
img{
    width: 100%;
}
.logo, ul, a{
    list-style: none;
    text-decoration:none ;
}
.logo{
    margin: 0;
    padding: 1em 0;
    width: 10%;
}
.nav-links{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.primary-nav-links{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.secondary-nav-links{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}
ul li a{
    color: aliceblue;
}
.nav-links, .primary-nav-links, .secondary-nav-links a{
    color: aliceblue;

}
li{
    padding: 0 1em;
}

.hero{
    width: 100%;
    background-color:rgb(120, 156, 119);
}
.main{
    padding: 2em 0;

}
.main-section-wrapper{
    display: flex;
    gap: 1em;
}
.main-section h1{
    margin-top: 0;
    padding-top: 0;
}
.main-section{
    margin: 0;
    padding: 1em;
    background-color:rgba(64, 116, 64, 0.205);
    text-align: center;

}
.article{
    width: 65%;
}
.side-bar-img{
    width: 40%;
}
.side-wrapper{
    margin: 0;
    padding: 0;
    width: 30%;
}
.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer{
     background-color: rgb(3, 36, 2);
    color: aliceblue;
}
.social-media-handles{
    margin: 0;
    padding: 0;
    width: 100%;
}
.social-media-handles li{
    margin: 0;
    width: 100%;
}
.social-media{

}
.reserves{
    width: 100%;
    text-align: center;
}
.socail-medias-wrapper{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
.primary_nav_links_side_bar{
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    z-index: 999;
    background-color: rgba(27, 182, 105, 0.74);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .hidebar{
        display: none;
    }   
    .main-section-wrapper{
        display: flex;
        flex-direction: column;
    }
}