html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid rgba(90, 50, 50, 0.726);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(161, 104, 19);
  padding: 10px 20px;
}

th {
  background-color: rgb(235 235 235);
}

td {
  width: 10%;
  text-align: center;
  overflow: auto;
}

tr:nth-child(even) td {
  background-color: rgb(250 250 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245 245 245);
}

caption {
  padding: 10px;
}