*,*::after,*::before{
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  width: 100%;
}
html {
  font-family: sans-serif;
}

table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
  border: 2px solid rgba(90, 50, 50, 0.726);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(161, 104, 19);
  padding: 10px 20px;
}

th {
  background-color: rgb(235 235 235);
}

td {
  width: 10%;
  text-align: center;
  overflow: auto;
}

tr:nth-child(even) td {
  background-image: linear-gradient(to right, rgb(117, 40, 180), rgb(128, 0, 117));
}

tr:nth-child(odd) td {
  background-color: rgb(245 245 245);
}

caption {
  padding: 10px;
}



fieldset{
  background-image: linear-gradient(to left, rgb(138, 20, 39),rgb(209, 144, 24));
  margin: 0 auto;
  width: 80%;
  /* text-align: center;
  display: block; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
div{
  padding: 1rem;
}
textarea, input{
  width: 300px;
  box-sizing: solid;

}
legend{
  background-color: rgb(192, 97, 33);
  text-align: center;
  padding: .5em;
  border-radius: .5em;
}
label{
  display: inline-block;                                
  min-width: 150px;
  margin-right: 1em;
 
}
input {
  border: 2px solid #000;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}
input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

textarea{
  vertical-align: top;
  height: 90PX;
}
button{
  margin-left: 0 auto;
  padding: 0 2em;
display: inline-block;
}